<div id="contactBackground"></div>

<div class="app-card-container contact-card">
	<div class="container">	
		<div class="card">
			<h1>Contact Me</h1>

			<div><hr></div>

			<div class="row">
				<div class="col-md-6">
					<h3>Ben Fellingham</h3>
					<p>Owner & Barber</p>

					<hr>

					<h3>Barbershop Address</h3>
					<p>192 Lake Breeze Rd Saratoga Springs, UT 84045</p>

					<hr>

					<h3>Phone</h3>
					<p><%= number_to_phone "8016369200" %></p>

					<hr>

					<h3>Email</h3>
					<p><a href="mailto:ben.fellingham@gmail.com?subject=BarberShopContact">ben.fellingham@gmail.com</a></p>

					<hr>

					<div class="row">
						<div class="col-md-3">
							<%= image_tag "open_close.jpg", width: "150px", style: "float: left; border-radius: 5px;" %>
						</div>

						<div class="col-md-9">
							<h3>Barbershop Hours</h3>
							<p>Monday: 5:00PM - 9:00PM</p>
							<p>Tuesday: 9:00AM - 7:00PM</p>
							<!-- <p>Wednesday: 9:00AM - 6:00PM</p> -->
							<p>Thursday: 9:00AM - 7:00PM</p>
							<p>Friday: 7:00AM - 10:00PM</p>
							<p>Saturday: 7:00AM - 10:00PM</p>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.631829028781!2d-111.90391978464527!3d40.32832786893523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d78df27174385%3A0xe196c182ec12b3ee!2s192+E+Lake+Breeze+Rd%2C+Saratoga+Springs%2C+UT+84045!5e0!3m2!1sen!2sus!4v1506619586014" width="100%" height="490" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="app-card-container about-card">
	<div class="container">	
		<div class="card">
			<h1>About Me</h1>

			<div><hr></div>

			<div class="row">
				<div class="col-md-6">
					<%= image_tag "ProfileImage.jpg", alt: "Profile Image", class: 'profile-img' %>
				</div>

				<div class="col-md-6">
					
					<p>Welcome to The shop, <br> My name is Ben, or you can call me Benny the barber. I have a passion for barbering and cutting hair. It has been a good few years since I started and I have loved every second of it. My Barber business started in December of 2016, I have enjoyed every moment since and I have also enjoyed every customer that has walked through my door. I have established a comfortable one on one environment that I feel people love. With my circumstances my simple shop has allowed those that live around me to have a place to come and receive grooming in a more personable setting.</p> 

					<ol>
						<li>You will enjoy the services that are provided, if not? Money back guaranteed</li>
						<li>You won’t miss out on a good conversation and won’t be ignored</li>
						<li>You will be in a more personable setting that will allow our barber/client friendship to grow</li>
					</ol>
				</div>
			</div>
				<p>For those of you who are looking for a barber, grooming/ beauty to an extent, or someone to just talk to I would recommend giving me a shot. I am skilled in Men's haircuts and straight shaves. I have also retained knowledge in how to keep your scalp healthy. Most people in Utah don't know how to keep their scalp healthy in a desert climate. I have earned knowledge in style haircuts for men as well as beard trimming and grooming. I also know how to do short cuts on women such as pixie and bobs & trimming split ends etc. . Like I said if you didn't enjoy the quality of the service let me know and 100% money back guarantee.</p>
		</div>
	</div>
</div>

