<div id="contactBackground"></div>

<div class="app-card-container contact-card">
	<div class="container">	
		<div class="card">
			<h1>Contact Us</h1>

			<div><hr></div>

			<div class="row">
				<div class="col-md-6">
					<h3>Ben Fellingham</h3>
					<p>Owner & Barber</p>

					<hr>

					<h3>Barbershop Address</h3>
					<p>192 Lake Breeze Rd Saratoga Springs, UT 84045</p>

					<hr>

					<h3>Phone</h3>
					<p><%= number_to_phone "8016369200" %></p>

					<hr>

					<h3>Email</h3>
					<p><a href="mailto:ben.fellingham@gmail.com?subject=BarberShopContact">ben.fellingham@gmail.com</a></p>

					<hr>

					<%= image_tag "open_close.jpg", width: "150px", style: "float: left; border-radius: 5px;" %>
					<h3>Barbershop Hours</h3>
					<h5>Monday - Friday</h5>
					<p>9:00AM - 6:00PM</p>
				</div>

				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.631829028781!2d-111.90391978464527!3d40.32832786893523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d78df27174385%3A0xe196c182ec12b3ee!2s192+E+Lake+Breeze+Rd%2C+Saratoga+Springs%2C+UT+84045!5e0!3m2!1sen!2sus!4v1506619586014" width="100%" height="490" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
