<div id="homeBackground"></div>

<div class="cover-container">
  <h1 class="cover-heading">Welcome, To Ben's Barbershop</h1>
  <p class="lead">
  	<span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to "Book With Me", "https://calendly.com/dallin-b-johnson/hair-cut", target: '_blank', class: 'btn btn-lg btn-danger bookingBtn' %>
  </p>
</div>

