<div class="container form-container">
	<div class="card">
		<h1>Editing Image</h1>

		<div><hr></div>

		<%= render 'form', image: @gallery_image %>

		<%= link_to 'Back', galleries_path %>
	</div>
</div>