/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "gritter";

@font-face {
  font-family: 'Acme';
  src:font-url('Acme/Acme-Regular.ttf')
}

@font-face {
  font-family: 'Montserrat';
  src:font-url('Montserrat/Montserrat-Regular.ttf')
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
nav a {
  font-family: 'Acme', sans-serif;
}

body {
  margin: 109px 0 50px 0;
	color: black;
  font-family: 'Montserrat', sans-serif;
}
.cover-container {
  text-align: center;
  padding-top: 130px;
  margin: auto;
  width: 55%;
  color: white;
}
#homeBackground {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('barber-shop.jpg') no-repeat, #533a16;
  background-size: cover;
  background-blend-mode: lighten;
  -webkit-filter: opacity(90%);
  filter: opacity(90%);
}
#contactBackground {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('checkerboard-pattern.jpg') no-repeat, grey;
  background-size: cover;
  // background-color: grey;
}
#aboutBackground {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('barbershop-pole.jpg') no-repeat, grey;
  background-size: cover;
}
#galleryBackground {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background-color: grey;
}

/*
 * Navbar
 */

.textLogo {
	padding: 0 35%;
}
.scissorLogo {
	border-radius: 2%;
	// Logo color for the red #d9534f
}
nav {
	background-color: rgba(0, 0 ,0 , 0.5)
}
nav hr {
	border-color: white;
}
.nav-link {
	font-size: 1.5em;
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  text-align: center;
  margin-left: 1rem;
}
.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}
.active {
  color: #fff;
  border-bottom-color: #fff;
}
.displayLogin a {
  display: inline-block;
}
.login > .card {
  width: 32rem;
  margin: 0 auto;
  float:none;
}

/* Brackets go out Start */
// ul.brackets a:before, ul.brackets a:after {
//     position: relative;
//     opacity: 0;
//     font-size: 35px;
//     top: 0px;
//     transition: all 0.3s;
// }
// ul.brackets a:before {
//     content: '(';
//     left: 0px;
//     transform: translateX(10px);
// }
// ul.brackets a:after {
//     content: ')';
//     right: 0px;
//     transform: translateX(-10px);
// }
// ul.brackets a:hover:before, ul.brackets a:hover:after {
//     opacity: 1;
//     transform: translateX(0px);
// }
/* Brackets go out End */

/*
 * Navbar End
 */

.cover-container h1 {
  font-size: 3em;
}
.cover-container p {
  font-size: 2em;
}
.bookingBtn {
	border: solid black 1px
}

footer {
	margin-top: 20px;
	width: 100%;
}
footer p {
	margin: auto;
}

/*
 * Appointment page start
 */

.thead-red {
  background-color: #B32D29;
}

/*
 * Appointment page end
 */

/*
 * Contact page & About page
 */

.app-card-container .card {
	padding: 20px;
	color: black;
}
.row {
  margin-bottom: 0;
}
.contact-card h1,
.contact-card h2,
.contact-card h3,
.contact-card h5,
.contact-card p,
.about-card h1 {
	text-align: center;
}
.contact-card p {
  margin: 0;
}
.about-card .card {
  // background-color: grey;
  // background-color: lightgrey;
}
.contact-card .card {
  // background-color: rgba(128,128,128,.9);
  // background-color: lightgrey;
}
.profile-img {
  border: 1px solid grey;
  border-radius: 5px;
  width: 100%;
}
.about-card ol {
  // list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}
.contact-card a {
  color: #428bca;
}

/*
 * Contact page & About page End
 */

/*
 * Gallery Index page Start
 */

.slideImage {
  height: 595px;
  object-fit: cover;
}
// .carousel-control-prev, .carousel-control-next {
//   background-color: rgba(0,0,0,.1);
// }
.carousel-indicators--round li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 15px;
  max-width: 15px;
  border: 1px solid #FFF;
  background-color: transparent;
}
.carousel-indicators .active {
  background-color: #fff;
  height: 17px;
  max-width: 17px;
  margin: 0 3px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  transition: all 0.2s ease-out;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.album .card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 1px solid white;
}
.album .card:hover {
  border: 1px solid black;
  transition-duration: 1s;
}

.album .card img {
  margin-bottom: .75rem;
}
.thumb-img img {
  height: 300px;
  object-fit: cover;
}

.card-text {
  font-size: 150%;
  text-align: center;
}
.card-text a {
  color: #636c72;
}

/* 
 * Big image view css start
 */

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

/* 
* Big image view css end
*/

/*
 * Gallery Index page End
 */

/* 
 * Edit and New pages start
 */

.form-container .card {
	padding: 30px;
	color: black;
  width: 80%;
  margin: 0 auto;
}


/* 
 * imageUpload css start
 */

.imageUpload .hide {
  display:none;
}
.imageUpload .btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbbbbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.imageUpload .btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.imageUpload .btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* 
 * imageUpload css End
 */

/* 
 * Edit and New pages End
 */

@media (max-width: 62em) {
	.textLogo {
		display: none;
	}
	body {
		margin: 165px 0 50px 0;
	}
}
@media (max-width: 50em) {
	.cover-container {
		padding-top: 50px;
		width: 100%;
	}
}